<mat-toolbar>
  <span>Dashboard</span>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="500px">
  <mat-grid-tile colSpan="1">
  <mat-card>
    <mat-card-title>
      Accounts
    </mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item *ngFor="let user of this.users" (click)="onSelect(user)"> {{ user.name }} </a>
     </mat-nav-list>
    </mat-card-content>
  </mat-card>
</mat-grid-tile>
<mat-grid-tile colSpan="2">
<mat-card>
</mat-card>
</mat-grid-tile>
</mat-grid-list>

{{this.users|json}}