<div class="row">
    <div class="element"> <span> Login</span>
<mat-card class="login-card">
    <div id="header">
        <mat-card-title>Enter your details</mat-card-title>
    </div>
    <mat-card-content>
        <form #f="ngForm" (ngSubmit)="login()" novalidate>
            <table class="" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="login">
                            <input matInput placeholder="Username" [(ngModel)]="username" name="username" autocomplete="on" required>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="">
                            <input matInput placeholder="Password" [(ngModel)]="password" type="password"
                                name="password" autocomplete="on" required>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <button mat-raised-button (click)="login()" color="primary" type="submit">Login</button>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>
</div></div>